commonrpc-http/src/main/resources/META-INF/commonrpchttp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.jd.com/rocketrpcserver" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.commonrpchttp.com/commonrpchttp"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	
	<xsd:element name="service">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="projectname" type="xsd:string"
						use="required" />
						
					<xsd:attribute name="ref" type="xsd:string"
						use="required" />
						
					<xsd:attribute name="filterRef" type="xsd:string" use="optional"/>
					
					<xsd:attribute name="httpType" type="xsd:string"
						use="required" />
						
					<xsd:attribute name="returnType" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="registry">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="port" type="xsd:int"
						use="required" />
						
						<xsd:attribute name="timeout" type="xsd:int"
						use="required" />
						
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	
</xsd:schema>